:root {
  --c-primary: #72D44A;
  --c-secondary: #389C04;
  --c-white: #ffffff;
}

header.header-wrapper.sticky {
  --header-height: 67px;
}
header.header-wrapper.sticky .header {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 992px) {
  header.header-wrapper .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  header.header-wrapper .header .site-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.32s ease-in-out;
    transition: all 0.32s ease-in-out;
    height: var(--header-height, 90px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header.header-wrapper .header-inner {
  position: relative;
}
header.header-wrapper .header-inner .main-navigation ul.menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
header.header-wrapper .header-inner .main-navigation ul.menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--h-active, var(--c-white));
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li > a {
    height: var(--header-height, 90px);
    -webkit-transition: all 0.32s ease-in-out;
    transition: all 0.32s ease-in-out;
  }
}
header.header-wrapper .header-inner .main-navigation ul.menu > li.has-child > a {
  padding-right: 18px;
  width: 100%;
}
header.header-wrapper .header-inner .main-navigation ul.menu > li > .toggle-sub {
  color: var(--h-active, var(--c-white));
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
  cursor: pointer;
  font-size: 0.75em;
  text-align: right;
  width: 18px;
  margin-left: -18px;
}
header.header-wrapper .header-inner .main-navigation ul.menu > li .angle-up {
  width: 100%;
  margin-top: auto;
  position: relative;
}
header.header-wrapper .header-inner .main-navigation ul.menu > li .angle-up::before {
  content: "";
  border-width: 0 15px 18px 15px;
  border-style: solid;
  border-color: #71d44a5b transparent;
  display: block;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: var(--hover-angle, -10px);
  opacity: var(--hover-op, 0);
  position: absolute;
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
  left: calc(50% - 15px);
}
header.header-wrapper .header-inner .main-navigation ul.menu > li:hover {
  --h-active: var(--c-primary);
  --hover-pos: 100%;
  --hover-op: 1;
  --hover-visible: visible;
  --hover-angle: 0;
  --hover-z-index: 4;
}
@media screen and (min-width: 992px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-4 .sub-menu {
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-4 .sub-menu .menu-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-4 .sub-menu .menu-items .menu-item {
    min-width: 200px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-4 .sub-menu .menu-items .menu-item.no-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 200px;
    max-width: 200px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-3 .sub-menu {
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-3 .sub-menu .menu-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-3 .sub-menu .menu-items .menu-item {
    min-width: 200px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-3 .sub-menu .menu-items .menu-item.no-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 260px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:nth-last-child(3), header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:nth-last-child(2), header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:last-child {
    position: relative;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2 .sub-menu {
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2 .sub-menu .menu-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2 .sub-menu .menu-items .menu-item {
    min-width: 200px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2 .sub-menu .menu-items .menu-item.no-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 260px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:nth-last-child(3), header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:nth-last-child(2), header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:last-child {
    position: relative;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:nth-last-child(3) .sub-menu, header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:nth-last-child(2) .sub-menu, header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-2:last-child .sub-menu {
    right: 0%;
    left: auto;
    width: auto;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 {
    position: relative;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 .sub-menu {
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 .sub-menu {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 .sub-menu {
    padding: 40px 40px;
  }
}
@media screen and (min-width: 992px) {
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 .sub-menu .menu-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 .sub-menu .menu-items .menu-item {
    min-width: 200px;
  }
  header.header-wrapper .header-inner .main-navigation ul.menu > li.list-col-1 .sub-menu .menu-items .menu-item.no-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 260px;
  }
}
header.header-wrapper .header-inner .main-navigation .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--c-secondary);
  width: 100%;
  padding: 24px 30px;
  list-style: none;
  margin: 0;
  top: var(--hover-pos, calc(100% + 10px));
  opacity: var(--hover-op, 0);
  z-index: var(--hover-z-index);
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
  visibility: var(--hover-visible, hidden);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 20px 10px -10px inset #71d44a5b;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 20px 10px -10px inset #71d44a5b;
}
@media screen and (min-width: 992px) {
  header.header-wrapper .header-inner .main-navigation .sub-menu {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1200px) {
  header.header-wrapper .header-inner .main-navigation .sub-menu {
    padding: 40px 60px;
  }
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .menu-item {
  padding: 12px 10px;
  width: 20%;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .menu-item a {
  line-height: 1.25;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu {
  position: relative;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu a.with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 100%;
  position: relative;
  color: var(--c-white);
  background-color: var(--c-secondary);
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu a.with-image:hover {
  background-color: var(--c-primary);
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu a.with-image img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
  opacity: 0.5;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu a.with-image .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 12px;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu a.with-image .title::before {
  border-top: 5px solid var(--c-primary);
  width: 31px;
  display: block;
  content: "";
  padding-bottom: 6px;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu a.with-image .title h3 {
  font-size: 19px;
  margin: 0;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu .without-image .title {
  width: 100%;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu .without-image .title::before {
  border-top: 5px solid var(--c-primary);
  width: 31px;
  display: block;
  content: "";
  padding-bottom: 6px;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .menu-items .hero-menu .without-image .title h3 {
  font-size: 19px;
  margin: 0;
  color: var(--c-white);
}
header.header-wrapper .header-inner .main-navigation .sub-menu .sub-submenu-items {
  list-style: none;
  padding: 15px 0 0;
  margin: 0;
}
header.header-wrapper .header-inner .main-navigation .sub-menu .sub-submenu-items a {
  font-weight: 300;
}

.responsive-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - var(--wp-admin--admin-bar--height, 0));
  left: 0;
  right: 0;
  background-color: var(--c-primary);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  top: 0;
}
.responsive-container .mean-container .mean-bar,
.responsive-container .mean-container .mean-bar * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.responsive-container .menu-container.mean-container {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  padding: 80px 25px 30px;
  margin: 0;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--c-primary);
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
}
.responsive-container .menu-container.mean-container .mean-bar {
  max-height: 100%;
  overflow: auto;
  background-color: var(--c-primary);
}
.responsive-container .menu-container.mean-container .meanmenu-reveal {
  display: none !important;
}
.responsive-container .menu-container.mean-container .mean-nav {
  background-color: var(--c-primary);
  margin: 0;
  padding: 0px;
}
.responsive-container .menu-container.mean-container .mean-nav .menu-main-menu-container {
  padding-bottom: 40px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu {
  display: block !important;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li {
  position: relative;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li a {
  padding: 12px 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  width: auto;
  display: block;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: var(--c-white);
}
@media screen and (min-width: 480px) {
  .responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li a {
    font-size: 24px;
    padding: 15px 10px;
  }
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li a:hover {
  color: var(--c-white);
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.current-menu-item > a {
  font-weight: bold;
  color: var(--c-white);
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child .angle-up,
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child .toggle-sub {
  display: none;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child:hover > a {
  color: var(--c-white);
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child > a {
  width: auto;
  max-width: calc(100% - 40px);
  text-align: center;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child > a.mean-expand {
  min-width: 40px;
  width: 40px;
  height: 55.6px;
  padding: 0 !important;
  margin: 0;
  line-height: 55.6px;
  border: none !important;
  font-size: 0 !important;
  top: 1px;
  position: static;
  background-color: transparent;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child > a.mean-expand::before {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 55.6px;
  content: "";
  top: 0;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child > a.mean-expand::after {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  font-size: 12px !important;
  height: 55.6px;
  line-height: 55.6px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li.has-child > a.mean-expand.mean-clicked::after {
  content: "\f078";
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu a {
  text-transform: initial;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items {
  padding: 0 10px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .menu-item {
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--c-white);
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .menu-item:first-child {
  padding-top: 5px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu {
  position: relative;
  max-width: 180px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 100%;
  position: relative;
  float: none;
  color: var(--c-white);
  background-color: var(--c-secondary);
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
  width: 100%;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .with-image:hover {
  background-color: var(--c-primary);
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .with-image img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
  opacity: 0.5;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .with-image .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 12px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .with-image .title::before {
  border-top: 5px solid var(--c-primary);
  width: 31px;
  display: block;
  content: "";
  padding-bottom: 6px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .with-image .title h3 {
  font-size: 19px;
  margin: 0;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .without-image {
  float: none;
  padding: 0;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .without-image .title {
  width: 100%;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .without-image .title::before {
  border-top: 5px solid var(--c-secondary);
  width: 31px;
  display: block;
  content: "";
  padding-bottom: 6px;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .menu-items .hero-menu .without-image .title h3 {
  font-size: 19px;
  margin: 0;
  color: var(--c-white);
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .sub-submenu-items {
  list-style: none;
  padding: 15px 0 0;
  margin: 0;
}
.responsive-container .menu-container.mean-container .mean-nav ul#menu-header-menu li ul.sub-menu .sub-submenu-items a {
  font-weight: 300;
  font-size: 16px;
  float: none;
  padding: 4px 0px;
}/*# sourceMappingURL=megamenu.css.map */